/* nav bar  */
.navbar-logo img {

    float: left;
    height: 50px;
}
.navbar {
    height: 50px;
    background-color: #633E2D;
    /* position: -webkit-sticky;
    top: 0; */
}
a{
 color: white;
 padding: 14px 50px;
 font-family: Garamond, serif;
}
a:hover{
    background-color: white;
    color: #633E2D;
}
.navbar-links{
    text-align: center;
    padding: 14px 20px;
}
.icons img{
    height: 100px;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
/* footer */
footer {
    background-color: #633E2D;
}

footer p {
    color: white;
}
footer img{
    float: top left;
    height: 200px;
     width: 200px;
}